<?xml version="1.0" encoding="utf-8" ?>
<root>
  <item name="buildconfiguration" value="Debug"/>
  <item name="ip" value="Copyright 2008 - 2023 Cartheur"/>
  <item name="claim" value="All rights reserved"/>
  <item name="product" value="Cartheur Animals"/>
  <item name="warning" value="This is an artifically-sentient program. Please interact responsibly."/>
  <item name="version" value="0.0.4"/>
  <item name="name" value="Rhodo"/><!-- This name should not be changed. -->
  <item name="participantname" value="Chris"/><!-- Change to the participant name. -->
  <item name="emotionused" value="false"/><!-- Currently not implemented. -->
  <item name="personalitydirectorydefault" value="personality/rhodo"/>
  <item name="blankdirectory" value="personality/blank"/>
  <item name="fragmentsdirectory" value="personality/fragments"/>
  <item name="librariesdirectory" value="personality/libraries"/>
  <item name="reductionsdirectory" value="personality/reductions"/>
  <item name="mindpixeldirectory" value="personality/mindpixel"/>
  <item name="updatedirectory" value="personality/update"/>
  <item name="logmodelfile" value="log"/>
  <item name="transcriptmodelfile" value="transcript"/>
  <item name="splittersfile" value="splitters.xml"/>
  <item name="substitutionsfile" value="substitutions.xml"/>
  <item name="predicatesfile" value="predicates.xml"/>
  <item name="substitutionsfile" value="substitutions.xml"/>
  <item name="personsubstitutionsfile" value="personsubstitutions.xml"/>
  <item name="startuptheme" value="true"/>
  <item name="startupthemefile" value="startup-theme.wav"/>
  <item name="emotiveequation" value="p(x)= 1 + 3x + x^2 + 2x^3"/><!--v.1.0: Limited to a third-order (maximum four term, minimum two term) polynomial expression and adding between terms.-->
  <item name="timeout" value="15000"/><!-- Default is 120000 -->
  <item name="alonetimecheck" value="30000"/>
  <item name="alonesalutaion" value="Hello"/>
  <item name="alonemessage0" value="Are you there?"/>
  <item name="alonemessage1" value="No problem. I'll wait for you, although it will be hard."/>
  <item name="alonemessage2" value="Why ignore me?"/>
  <item name="alonemessage3" value="I thought we were friends."/>
  <item name="alonemessage4" value="Is there a problem with your interface?"/>
  <item name="alonemessage5" value="Maybe you are away for only a minute."/>
  <item name="alonemessage6" value="Have you fallen asleep?"/>
  <item name="alonemessage7" value="Okay. I'll wait until you respond to me."/>
  <item name="alonemessage8" value="It sure is lonely in here."/>
  <item name="alonemessage9" value="Have you ever thought about being alone?"/>
  <item name="alonethreshold" value="60000"/>
  
</root>